.about{
    padding-bottom: 48px;
}
.about-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.goal{
    border-radius: 10px;
    color: tomato;
    font-style: oblique;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700 ;
    background-color: blanchedalmond;
}

.picture{
    height: 230px;
    width: 210px;
    margin-bottom: 10px;
    border-radius: 50%;
}

.about-info{
    font-size: 24px;
}

.info-name{
    color: deepskyblue;
    font-size: larger;
}

@media only screen and (max-width:720px){
    .about-top{
        flex-direction: column;
        justify-content: center; 
      align-items: center ;
    }
    
    .picture{
        margin: 5px;

        height: 210px;
    
    }

    .about-info{
        font-size: 20px;
    }

    .info-name{
        font-size: 25px;
    }
}

