.work{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* background-color: darkblue; */
}

.work-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0px;
}

.description{
    background-color: lightpink;
    border-radius: 7px;
    margin-right: 6px;
}